<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Adicionar Produto</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="novoProdutoForm" (submit)="salvar()">
          <div class="form-group">
            <label for="nome">Mome do Produto</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome do Produto"
            formControlName="nome" />
          </div>
          <div class="form-group">
            <label for="valor">Valor do Produto</label>
            <input type="number" class="form-control" id="valor" placeholder="Digite o valor do Produto R$"
            formControlName="valor" />
          </div>
          <div class="form-group">
              <label for="categoria">Selecione o Tipo do Produto</label>
              <select class="form-control" id="categoria"
              formControlName="categoria">
                <option>BOLO</option>
                <option>BOMBOM</option>
                <option>BISCOITO</option>
              </select>
            </div>
          <button type="submit" class="btn btn-primary"
          [disabled]="novoProdutoForm.invalid">Salvar Produto</button>
        </form>
      </div>
    </div>
  </div>
</div>

