<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de Produtos</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Nome
              </th>
              <th>
                Categoria
              </th>
              <th class="text-right">
                Valor (R$)
              </th>
              <th>
                Adicionar
              </th>
            </thead>
            <tbody *ngFor="let produto of produtos">
              <tr>
                <td>
                  {{produto.nome}}
                </td>
                <td>
                  {{produto.categoria}}
                </td>
                <td class="text-right">
                  {{produto.valor}}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="adicionarItem(produto)">Adicionar Item</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <a [routerLink]="['/table/adicionar']" class="btn btn-primary">Adiconar Produto</a>
      </div>
    </div>
  </div>
</div>
